<p class="text-center text-[#656565]">
  © 2022 Build by
  <a
    href="https://www.instagram.com/maulanaadill/"
    target="_blank"
    class="hover:underline"
    rel="noopener noreferrer"
    >Maulnad</a
  >.✌️
</p>
