<nav class="position w-full bg-[#20202380] z-[1]">
  <div
    class="w-full flex items-center max-w-[768px] p-2 m-auto justify-space-between"
    style="backdrop-filter: blur(10px)"
  >
    <%- include('../components/logo.ejs') %>

    <ul class="flex">
      <li class="p-2">
        <a
          class="text-[#dededf] font-semibold hover:underline"
          href="https://maulnad-website.vercel.app/projects"
          >Projects</a
        >
      </li>
      <li class="p-2">
        <a
          class="text-[#dededf] font-semibold hover:underline"
          href="https://maulnad-website.vercel.app/posts"
          >Posts</a
        >
      </li>
    </ul>
  </div>
</nav>
