<meta charset="UTF-8" />
<title><%= title %></title>

<script src="https://cdn.tailwindcss.com"></script>
<link
  rel="icon"
  href="https://maulnad-website.vercel.app/images/animoji.png"
  type="image/x-icon"
/>
