<div
  class="inline-flex items-center h-[30px] mr-[20px] font-bold p-[10px] cursor-pointer group"
>
  <img
    src="https://maulnad-website.vercel.app/images/animoji.png"
    alt="logo"
    class="w-[30px] pr-[5px] group-hover:rotate-[20deg]"
  />
  <a href="https://maulnad-website.vercel.app/">
    <p
      class="tracking-tighter font-bold text-[#dededf]"
      style="
        font-family: 'lusitana', 'sans-serif';
        font-size: 18px;
        line-height: 20px;
      "
    >
      Maulnad
    </p>
  </a>
</div>
